
# API URL
NEXT_PUBLIC_API_URL=http://localhost:7052/api/v1

# Google OAuth Credentials
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id_here
NEXT_PUBLIC_GOOGLE_SECRET_KEY=your_google_secret_key_here

# Stripe Configuration
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key_here

# Google Maps API & Coordinates
NEXT_PUBLIC_GOOGLE_MAP_API_KEY=your_google_map_api_key_here
NEXT_PUBLIC_OFFICE_LATITUDE=42.23624879299555
NEXT_PUBLIC_OFFICE_LONGITUDE=-71.72888734437299
